<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../../../public/assets/css/newidscss.css">
	<title>Website dan Aplikasi</title>
</head>
<body>
	<div class="Header">
		<div class="Logo-IDS">
			<img style="height: 56px;width: 124px;" src="../../../public/assets/img/ids.png">
		</div>
		<div class="Item-header font-16">
			<a href="#">Beranda</a>
		</div>
		<div class="Item-header font-16">
			<a href="#">Tentang Kami</a>
		</div>
		<div class="Item-header font-16">
			<a href="#">Layanan dan Produk</a>
		</div>
		<div class="Item-header font-16">
			<a href="#">Blog</a>
		</div>
		<div class="Item-header font-16">
			<a href="#">Galeri</a>
		</div>
		<div class="Item-header font-16">
			<a href="#">Hubungi Kami</a>
		</div>
	</div>
	<!--  -->
	<div class="Benner">
		
	</div>

</body>
</html>