<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../../../public/assets/css/newidscss.css">
	<title>Tentang Kami</title>
</head>
<body>
	<div class="Header">
		<div class="Logo-IDS">
			<img style="height: 56px;width: 124px;" src="../../../public/assets/img/ids.png">
		</div>
		<div class="Item-header font-16">
			<a href="#">Beranda</a>
		</div>
		<div class="Item-header font-16">
			<a href="#">Tentang Kami</a>
		</div>
		<div class="Item-header font-16">
			<a href="#">Layanan dan Produk</a>
		</div>
		<div class="Item-header font-16">
			<a href="#">Blog</a>
		</div>
		<div class="Item-header font-16">
			<a href="#">Galeri</a>
		</div>
		<div class="Item-header font-16">
			<a href="#">Hubungi Kami</a>
		</div>
	</div>
	<!--  -->
	<div class="Benner">
		<img style="width: 1358px;" src="../../../public/assets/img/BannerIDS/Mendidik dengan Hati dan Teknologi 2.png">
	</div>
	<!--  -->
	<div class="content1" style="">
		<div style="display: flex;padding: 0px 0px 50px 0px;">
			<div class="content1-text">
				<span>IDS Rumah Pendidikan Indonesia merupakan unit usaha yang bergerak di bidang pendidikan dan teknologi.
				</span>				
				<br>
				<p style="margin-top :64px;">
				Bermula tahun 2011, IDS Rumah Pendidikan Indonesia berdiri sebagai perusahaan penyedia teknologi dan konsultan pendidikan dengan tujuan menjadikan sistem belajar mengajar serta pengelolaan sekolah di Indonesia lebih bermutu, efektif, dan efisien.
				</p>
			</div>
			<div class="content1-img">
				
			</div>
		</div>
		<div style="display: flex;padding: 0px 0px 50px 0px;">
			<div class="content1-img" >
				
			</div>
			<div class="content1-text" style="width: 575px;height: 291px;padding:0px 0px 0px 44px;">
				<span>Selama lebih dari 20 tahun, para pendiri IDS —Itasia Dina Sulvianti dan RP Agus Lelana— melakukan riset pendidikan melalui SMK Wikrama Bogor serta Perguruan SMK Wikrama Indonesia. Ratusan sekolah di seluruh Indonesia telah bergabung untuk belajar bersama IDS Rumah Pendidikan Indonesia.			
				</span>
				<p style="margin-top :32px;">
					IDS berkomitmen mentransformasi dan melatih siswa-siswi menjadi pribadi yang jujur, percaya diri, dan gemilang.
				</p>
			</div>			
		</div>
	</div>
	<!--  -->
	<div class="text-misi bg-tosca">
		<div class="font-36 lato-regular">
			<span><span class="lato-bold">Visi Kami</span> <br>untuk menjadi start-up pendidikan yang unggul dan bermanfaat.</span>
		</div>
	</div>
	<!--  -->
	<div class="misiIDS" style="display: flex;flex-direction: column;padding: 64px 180px 64px 180px;">
		<span class="text-center font-36 lato-bold">Misi Kami</span>
		<div style="display: flex;padding: 64px 0px 50px 0px;">
			<div class="content1-img" style="width: 387px;height: 291px;background-color: #C4C4C4;border-radius: 20px;">
				
			</div>
			<div class="content1-text" style="width: 575px;height: 291px;padding:0px 0px 0px 44px;margin-top: -64px;">
				<p>Menghasilkan produk yang menyediakan jasa yang kreatif, inovatif, user-friendly dan terjangkau.</p>
				<p>Memenuhi kepuasan pelanggan dan stakeholders perusahaan dengan pelayanan prima.
				</p>
				<p>Memberikan nilai tambah bagi para karyawan melalui berbagai program pengembangan kecakapan dan kesejahteraan karyawan.</p>
				<p>Melaksanakan proses bisnis yang beretika dan berstandar mutu.
				</p>

			</div>			
		</div>
	</div>
	<!--  -->
	<div class="content1-quote bg-new" style="display: flex;height: 240px;">
		<div class="lato-regular" style="display: flex;flex-direction: column;width:778px;padding: 64px 30px 0px 128px;align-items: center;align-content: center;">
			<div class="content1-quote-text font-36 color-white">
				<span>“Tiada hari tanpa kebermanfaatan.” </span>
			</div>
			<div class="content1-quote-nama color-white font-24" style="align-self: flex-end;padding: 68px 0px 5px 0px;" >
				<span>Mutia Prawitasari, S.E</span>
			</div>
			<div class="line-white bg-white" style="width: 229px;height: 1px;align-self: flex-end;">
				
			</div>
			<div class="content1-quote-jabatan color-white font-18" style="align-self: flex-end;padding: 5px 0px 0px 0px;">
				<span>Direktur Utama CV IDS</span>
			</div>
		</div>
		<div class="content1-quote-img" style="width: 291px;height: 325px;background-color: #C4C4C4;margin-top: -86px;">
			
		</div>
	</div>
	<!--  -->
	<div class="content3-misi" style="display: flex;height: auto;padding:63px 170px 63px 170px;">
		<div class="content3-canggih" style="display: flex;flex-direction: column;align-items: center;padding: 0px 20px 0px 100px">
			<div class="content3-canggih-img" style="width: 72px;height: 98px;">
				<img style="height: 98px;width: 98px;;" src="../../../public/assets/img/akal.png">
			</div>
			<div class="content3-canggih-text1 font-48 color-navy" style="padding: 16px 0px 16px 0px;">
				<span>Canggih</span>
			</div>
			<div class="content3-canggih-text2 font-24 color-new">
				<span>Kreatif dan Inovatif</span>
			</div>
		</div>
		<div class="content3-canggih" style="display: flex;flex-direction: column;align-items: center;padding: 0px 20px 0px 100px">
			<div class="content3-canggih-img" style="width: 72px;height: 98px;">
				<img style="height: 98px;width: 98px;;" src="../../../public/assets/img/orang.png">
			</div>
			<div class="content3-canggih-text1 font-48 color-navy" style="padding: 16px 0px 16px 0px;">
				<span>Tangguh</span>
			</div>
			<div class="content3-canggih-text2 font-24 color-new">
				<span>Sigap dan Siaga</span>
			</div>
		</div>
		<div class="content3-canggih" style="display: flex;flex-direction: column;align-items: center;padding: 0px 20px 0px 100px">
			<div class="content3-canggih-img" style="width: 72px;height: 98px;">
				<img style="height: 98px;width: 98px;;" src="../../../public/assets/img/product.png">
			</div>
			<div class="content3-canggih-text1 font-48 color-navy" style="padding: 16px 0px 16px 0px;">
				<span>Prima</span>
			</div>
			<div class="content3-canggih-text2 font-24 color-new">
				<span>Produk dan Jasa Terbaik</span>
			</div>
		</div>
	</div>
	<!--  -->
	<div class="btn-accordion">
		<button class="accordion bg-navy color-white">		
			<div class="text-accordion font-24">
				<span>TIM MARKETING DAN PELAYANAN</span>
			</div>		
		</button>
	</div>
	<div class="panel" style="display: flex;flex-direction: column;">  
		<div style="display: flex;padding: 0px 0px 28px 0px;align-items: baseline;">
			<div style="display: flex;flex-direction: column;">
				<div class="box15">
					<div class="panel-img">
						<img style="width:265px;height: 250px;border-radius: 20px;" src="../../../public/assets/img/TeamIDS/Mbak-Ute.png">
					</div>				
					<div class="box-content">
						<h3 class="title">Sutera Pramitaratri, S.TP</h3>
						<!-- <ul class="icon">
							<li><a href="#"><i class="fa fa-search"></i></a></li>
							<li><a href="#"><i class="fa fa-link"></i></a></li>
						</ul> -->
					</div>					
				</div>
				<div class="panel-img">
				
				</div>
				<div class="panel-nama font-24 lato-bold text-center" style="padding: 0px 0px 5px 0px;height: 54px;    width: 270px;">
					<span>Sutera Pramitaratri, S.TP</span>
				</div>
				<div class="line-tosca2 bg-new1" >
					
				</div>
				<div class="panel-jabatan text-center font-18 lato-semibold" style="padding: 6px 0px 0px 0px;">
					Public Relation
				</div>
				
			</div>
			<div style="display: flex;flex-direction: column;padding: 0px 88px 0px 88px;">
				<div class="box15">
					<div class="panel-img">
						<img style="width:265px;height: 250px;border-radius: 20px;" src="../../../public/assets/img/TeamIDS/zai.png">
					</div>				
					<div class="box-content">
						<h3 class="title">Anis Arifin, S.Hi</h3>
						<!-- <ul class="icon">
							<li><a href="#"><i class="fa fa-search"></i></a></li>
							<li><a href="#"><i class="fa fa-link"></i></a></li>
						</ul> -->
					</div>					
				</div>
				<div class="panel-img">
				
				</div>
				<div class="panel-nama font-24 lato-bold text-center" style="padding: 0px 0px 5px 0px;height: 54px;    width: 270px;">
					<span>Anis Arifin, S.Hi</span>
				</div>
				<div class="line-tosca2 bg-new1" >
					
				</div>
				<div class="panel-jabatan text-center font-18 lato-semibold" style="padding: 6px 0px 0px 0px;">
					General Marketing
				</div>			
			</div>	

			<div style="display: flex;flex-direction: column;">
				<div class="box15">
					<div class="panel-img">
						<img style="width:265px;height: 250px;border-radius: 20px;" src="../../../public/assets/img/TeamIDS/fatchur.jpg">
					</div>				
					<div class="box-content">
						<h3 class="title">Fatchur Rahman Mustar, S.E</h3>
						<!-- <ul class="icon">
							<li><a href="#"><i class="fa fa-search"></i></a></li>
							<li><a href="#"><i class="fa fa-link"></i></a></li>
						</ul> -->
					</div>					
				</div>
				<div class="panel-img">
				
				</div>
				<div class="panel-nama font-24 lato-bold text-center" style="padding: 0px 0px 5px 0px;height: 54px;    width: 270px;">
					<span>Fatchur Rahman Mustar, S.E</span>
				</div>
				<div class="line-tosca2 bg-new1" >
					
				</div>
				<div class="panel-jabatan text-center font-18 lato-semibold" style="padding: 6px 0px 0px 0px;">
					Marketing
				</div>			
			</div>	
		</div>
		<div style="display: flex;padding: 0px 0px 28px 0px;">
			<div style="display: flex;flex-direction: column;">
				<div class="box15">
					<div class="panel-img">
						<img style="width:265px;height: 250px;border-radius: 20px;" src="../../../public/assets/img/TeamIDS/Anin.png">
					</div>				
					<div class="box-content">
						<h3 class="title">Aninda Ramadhani</h3>
						<!-- <ul class="icon">
							<li><a href="#"><i class="fa fa-search"></i></a></li>
							<li><a href="#"><i class="fa fa-link"></i></a></li>
						</ul> -->
					</div>					
				</div>
				<div class="panel-img">
				
				</div>
				<div class="panel-nama font-24 lato-bold text-center" style="padding: 0px 0px 5px 0px;height: 54px;    width: 270px;">
					<span>Aninda Ramadhani</span>
				</div>
				<div class="line-tosca2 bg-new1" >
					
				</div>
				<div class="panel-jabatan text-center font-18 lato-semibold" style="padding: 6px 0px 0px 0px;">
					Customer Service
				</div>
				
			</div>
			<div style="display: flex;flex-direction: column;padding: 0px 88px 0px 88px;">
				<div class="box15">
					<div class="panel-img">
						<img style="width:265px;height: 250px;border-radius: 20px;" src="../../../public/assets/img/TeamIDS/Liri.png">
					</div>				
					<div class="box-content">
						<h3 class="title">Liri Mauli Pratiwi</h3>
						<!-- <ul class="icon">
							<li><a href="#"><i class="fa fa-search"></i></a></li>
							<li><a href="#"><i class="fa fa-link"></i></a></li>
						</ul> -->
					</div>					
				</div>
				<div class="panel-img">
				
				</div>
				<div class="panel-nama font-24 lato-bold text-center" style="padding: 0px 0px 5px 0px;height: 54px;    width: 270px;">
					<span>Liri Mauli Pratiwi</span>
				</div>
				<div class="line-tosca2 bg-new1" >
					
				</div>
				<div class="panel-jabatan text-center font-18 lato-semibold" style="padding: 6px 0px 0px 0px;">
					Client Administration
				</div>			
			</div>	
			<div style="display: flex;flex-direction: column;">
				<div class="box15">
					<div class="panel-img">
						<img style="width:265px;height: 250px;border-radius: 20px;" src="../../../public/assets/img/TeamIDS/3.jpg">
					</div>				
					<div class="box-content">
						<h3 class="title">Kejora</h3>
						<!-- <ul class="icon">
							<li><a href="#"><i class="fa fa-search"></i></a></li>
							<li><a href="#"><i class="fa fa-link"></i></a></li>
						</ul> -->
					</div>					
				</div>
				<div class="panel-img">
				
				</div>
				<div class="panel-nama font-24 lato-bold text-center" style="padding: 0px 0px 5px 0px;height: 54px;    width: 270px;">
					<span>Kejora</span>
				</div>
				<div class="line-tosca2 bg-new1" >
					
				</div>
				<div class="panel-jabatan text-center font-18 lato-semibold" style="padding: 6px 0px 0px 0px;">
					Customer Support
				</div>			
			</div>
		</div>
	</div>
	<!--  -->
	<div class="btn-accordion">
		<button class="accordion bg-navy color-white">		
			<div class="text-accordion font-24">
				<span>TIM ADMINISTRASI</span>
			</div>		
		</button>
	</div>

	<div class="panel" style="display: flex;flex-direction: column;">  
		<div style="display: flex;padding: 0px 0px 28px 0px;">
			<div style="display: flex;flex-direction: column;">
				<div class="box15">
					<div class="panel-img">
						<img style="width:265px;height: 250px;border-radius: 20px;" src="../../../public/assets/img/TeamIDS/Resti.png">
					</div>				
					<div class="box-content">
						<h3 class="title">Resti Ayu Purnama, S.Ak</h3>
						<!-- <ul class="icon">
							<li><a href="#"><i class="fa fa-search"></i></a></li>
							<li><a href="#"><i class="fa fa-link"></i></a></li>
						</ul> -->
					</div>					
				</div>
				<div class="panel-img">
				
				</div>
				<div class="panel-nama font-24 lato-bold text-center" style="padding: 0px 0px 5px 0px;height: 54px;    width: 270px;">
					<span>Resti Ayu Purnama, S.Ak</span>
				</div>
				<div class="line-tosca2 bg-new1" >
					
				</div>
				<div class="panel-jabatan text-center font-18 lato-semibold" style="padding: 6px 0px 0px 0px;">
					Treasurer
				</div>			
			</div>
			<div style="display: flex;flex-direction: column;padding: 0px 88px 0px 88px;">
				<div class="box15">
					<div class="panel-img">
						<img style="width:265px;height: 250px;border-radius: 20px;" src="../../../public/assets/img/TeamIDS/Dini.png">
					</div>				
					<div class="box-content">
						<h3 class="title">Dini Hanifa, S.T</h3>
						<!-- <ul class="icon">
							<li><a href="#"><i class="fa fa-search"></i></a></li>
							<li><a href="#"><i class="fa fa-link"></i></a></li>
						</ul> -->
					</div>					
				</div>
				<div class="panel-img">
				
				</div>
				<div class="panel-nama font-24 lato-bold text-center" style="padding: 0px 0px 5px 0px;height: 54px;    width: 270px;">
					<span>Dini Hanifa, S.T</span>
				</div>
				<div class="line-tosca2 bg-new1" >
					
				</div>
				<div class="panel-jabatan text-center font-18 lato-semibold" style="padding: 6px 0px 0px 0px;">
					Employee Administration
				</div>			
			</div>
			<div style="display: flex;flex-direction: column;">
				<div class="box15">
					<div class="panel-img">
						<img style="width:265px;height: 250px;border-radius: 20px;" src="../../../public/assets/img/TeamIDS/Ayu.png">
					</div>				
					<div class="box-content">
						<h3 class="title">Ayu Nurul Akhsanah</h3>
						<!-- <ul class="icon">
							<li><a href="#"><i class="fa fa-search"></i></a></li>
							<li><a href="#"><i class="fa fa-link"></i></a></li>
						</ul> -->
					</div>					
				</div>
				<div class="panel-img">
				
				</div>
				<div class="panel-nama font-24 lato-bold text-center" style="padding: 0px 0px 5px 0px;height: 54px;    width: 270px;">
					<span>Ayu Nurul Akhsanah</span>
				</div>
				<div class="line-tosca2 bg-new1" >
					
				</div>
				<div class="panel-jabatan text-center font-18 lato-semibold" style="padding: 6px 0px 0px 0px;">
					Customer Support
				</div>			
			</div>
		</div>
	</div>
	<!--  -->
	<div class="btn-accordion">
		<button class="accordion bg-navy color-white">		
			<div class="text-accordion font-24">
				<span>TIM KURIKULUM</span>
			</div>		
		</button>
	</div>

	<div class="panel" style="display: flex;flex-direction: column;">  
		<div style="display: flex;padding: 0px 0px 28px 0px;">
			<div style="display: flex;flex-direction: column;">
				<div class="panel-img " style="width:265px;height: 250px;border-radius: 20px;">
					
				</div>
				<div class="panel-nama font-24 lato-bold text-center" style="padding: 0px 0px 5px 0px;height: 54px;    width: 270px;">
					<span>Pera Tinfika Mutiara, S.Si</span>
				</div>
				<div class="line-tosca2 bg-new1" >
					
				</div>
				<div class="panel-jabatan text-center font-18 lato-semibold" style="padding: 6px 0px 0px 0px;">
					Curriculum
				</div>
			</div>
			<div style="display: flex;flex-direction: column;padding: 0px 88px 0px 88px;">
				<div class="box15">
					<div class="panel-img">
						<img style="width:265px;height: 250px;border-radius: 20px;" src="../../../public/assets/img/TeamIDS/Rea.png">
					</div>				
					<div class="box-content">
						<h3 class="title">Chadijah Andreati Poetri</h3>
						<!-- <ul class="icon">
							<li><a href="#"><i class="fa fa-search"></i></a></li>
							<li><a href="#"><i class="fa fa-link"></i></a></li>
						</ul> -->
					</div>					
				</div>
				<div class="panel-img">
				
				</div>
				<div class="panel-nama font-24 lato-bold text-center" style="padding: 0px 0px 5px 0px;height: 54px;    width: 270px;">
					<span>Chadijah Andreati Poetri</span>
				</div>
				<div class="line-tosca2 bg-new1" >
					
				</div>
				<div class="panel-jabatan text-center font-18 lato-semibold" style="padding: 6px 0px 0px 0px;">
					Curriculum
				</div>			
			</div>
			<div style="display: flex;flex-direction: column;">
				<div class="box15">
					<div class="panel-img">
						<img style="width:265px;height: 250px;border-radius: 20px;" src="../../../public/assets/img/TeamIDS/Sande.png">
					</div>				
					<div class="box-content">
						<h3 class="title">Sande Listiana</h3>
						<!-- <ul class="icon">
							<li><a href="#"><i class="fa fa-search"></i></a></li>
							<li><a href="#"><i class="fa fa-link"></i></a></li>
						</ul> -->
					</div>					
				</div>
				<div class="panel-img">
				
				</div>
				<div class="panel-nama font-24 lato-bold text-center" style="padding: 0px 0px 5px 0px;height: 54px;    width: 270px;">
					<span>Sande Listiana</span>
				</div>
				<div class="line-tosca2 bg-new1" >
					
				</div>
				<div class="panel-jabatan text-center font-18 lato-semibold" style="padding: 6px 0px 0px 0px;">
					Curriculum
				</div>			
			</div>
		</div>
	</div>
	<!--  -->
	<div class="btn-accordion">
		<button class="accordion bg-navy color-white">		
			<div class="text-accordion font-24">
				<span>TIM KREATIF</span>
			</div>		
		</button>
	</div>

	<div class="panel" style="display: flex;flex-direction: column;">  
		<div style="display: flex;padding: 0px 0px 28px 0px;">
			<div style="display: flex;flex-direction: column;">
				<div class="box15">
					<div class="panel-img">
						<img style="width:265px;height: 250px;border-radius: 20px;" src="../../../public/assets/img/TeamIDS/eki.jpg">
					</div>				
					<div class="box-content">
						<h3 class="title">Rizky Fazriansyah</h3>
						<!-- <ul class="icon">
							<li><a href="#"><i class="fa fa-search"></i></a></li>
							<li><a href="#"><i class="fa fa-link"></i></a></li>
						</ul> -->
					</div>					
				</div>
				<div class="panel-img">
				
				</div>
				<div class="panel-nama font-24 lato-bold text-center" style="padding: 0px 0px 5px 0px;height: 54px;    width: 270px;">
					<span>Rizky Fazriansyah</span>
				</div>
				<div class="line-tosca2 bg-new1" >
					
				</div>
				<div class="panel-jabatan text-center font-18 lato-semibold" style="padding: 6px 0px 0px 0px;">
					Senior Designer
				</div>			
			</div>
			<div style="display: flex;flex-direction: column;padding: 0px 88px 0px 88px;">
				<div class="box15">
					<div class="panel-img">
						<img style="width:265px;height: 250px;border-radius: 20px;" src="../../../public/assets/img/TeamIDS/Yuli.png">
					</div>				
					<div class="box-content">
						<h3 class="title">Siti Yuliana Sari</h3>
						<!-- <ul class="icon">
							<li><a href="#"><i class="fa fa-search"></i></a></li>
							<li><a href="#"><i class="fa fa-link"></i></a></li>
						</ul> -->
					</div>					
				</div>
				<div class="panel-img">
				
				</div>
				<div class="panel-nama font-24 lato-bold text-center" style="padding: 0px 0px 5px 0px;height: 54px;    width: 270px;">
					<span>Siti Yuliana Sari</span>
				</div>
				<div class="line-tosca2 bg-new1" >
					
				</div>
				<div class="panel-jabatan text-center font-18 lato-semibold" style="padding: 6px 0px 0px 0px;">
					Multimedia Officer
				</div>			
			</div>
			<div style="display: flex;flex-direction: column;">
				<div class="box15">
					<div class="panel-img">
						<img style="width:265px;height: 250px;border-radius: 20px;" src="../../../public/assets/img/TeamIDS/Ika.png">
					</div>				
					<div class="box-content">
						<h3 class="title">Ika Fitria Nur Ayuningrum</h3>
						<!-- <ul class="icon">
							<li><a href="#"><i class="fa fa-search"></i></a></li>
							<li><a href="#"><i class="fa fa-link"></i></a></li>
						</ul> -->
					</div>					
				</div>
				<div class="panel-img">
				
				</div>
				<div class="panel-nama font-24 lato-bold text-center" style="padding: 0px 0px 5px 0px;height: 54px;    width: 270px;">
					<span>Ika Fitria Nur Ayuningrum</span>
				</div>
				<div class="line-tosca2 bg-new1" >
					
				</div>
				<div class="panel-jabatan text-center font-18 lato-semibold" style="padding: 6px 0px 0px 0px;">
					Spoke person
				</div>			
			</div>
		</div>
	</div>
	<!--  -->
	<div class="btn-accordion">
		<button class="accordion bg-navy color-white">		
			<div class="text-accordion font-24">
				<span>TIM PRODUKSI</span>
			</div>		
		</button>
	</div>

	<div class="panel" style="display: flex;flex-direction: column;">  
		<div style="display: flex;padding: 0px 0px 28px 0px;">
			<div style="display: flex;flex-direction: column;">
				<div class="box15">
					<div class="panel-img">
						<img style="width:265px;height: 250px;border-radius: 20px;" src="../../../public/assets/img/TeamIDS/Rifqi.png">
					</div>				
					<div class="box-content">
						<h3 class="title">Rifqi Irianto</h3>
						<!-- <ul class="icon">
							<li><a href="#"><i class="fa fa-search"></i></a></li>
							<li><a href="#"><i class="fa fa-link"></i></a></li>
						</ul> -->
					</div>					
				</div>
				<div class="panel-img">
				
				</div>
				<div class="panel-nama font-24 lato-bold text-center" style="padding: 0px 0px 5px 0px;height: 54px;    width: 270px;">
					<span>Rifqi Irianto</span>
				</div>
				<div class="line-tosca2 bg-new1" >
					
				</div>
				<div class="panel-jabatan text-center font-18 lato-semibold" style="padding: 6px 0px 0px 0px;">
					Programmer
				</div>			
			</div>
			<div style="display: flex;flex-direction: column;padding: 0px 88px 0px 88px;">
				<div class="box15">
					<div class="panel-img">
						<img style="width:265px;height: 250px;border-radius: 20px;" src="../../../public/assets/img/TeamIDS/Agung.png">
					</div>				
					<div class="box-content">
						<h3 class="title">Agung Prasetyo</h3>
						<!-- <ul class="icon">
							<li><a href="#"><i class="fa fa-search"></i></a></li>
							<li><a href="#"><i class="fa fa-link"></i></a></li>
						</ul> -->
					</div>					
				</div>
				<div class="panel-img">
				
				</div>
				<div class="panel-nama font-24 lato-bold text-center" style="padding: 0px 0px 5px 0px;height: 54px;    width: 270px;">
					<span>Agung Prasetyo</span>
				</div>
				<div class="line-tosca2 bg-new1" >
					
				</div>
				<div class="panel-jabatan text-center font-18 lato-semibold" style="padding: 6px 0px 0px 0px;">
					Programmer
				</div>			
			</div>
			<div style="display: flex;flex-direction: column;">
				<div class="box15">
					<div class="panel-img">
						<img style="width:265px;height: 250px;border-radius: 20px;" src="../../../public/assets/img/TeamIDS/Syukron.png">
					</div>				
					<div class="box-content">
						<h3 class="title">Syukron Muttaqien</h3>
						<!-- <ul class="icon">
							<li><a href="#"><i class="fa fa-search"></i></a></li>
							<li><a href="#"><i class="fa fa-link"></i></a></li>
						</ul> -->
					</div>					
				</div>
				<div class="panel-img">
				
				</div>
				<div class="panel-nama font-24 lato-bold text-center" style="padding: 0px 0px 5px 0px;height: 54px;    width: 270px;">
					<span>Syukron Muttaqien</span>
				</div>
				<div class="line-tosca2 bg-new1" >
					
				</div>
				<div class="panel-jabatan text-center font-18 lato-semibold" style="padding: 6px 0px 0px 0px;">
					Programmer
				</div>			
			</div>
		</div>
		<div style="display: flex;padding: 0px 0px 28px 0px;">
			<div style="display: flex;flex-direction: column;">
				<div class="box15">
					<div class="panel-img">
						<img style="width:265px;height: 250px;border-radius: 20px;" src="../../../public/assets/img/TeamIDS/alwi.jpg">
					</div>				
					<div class="box-content">
						<h3 class="title">Alwi Aulia Nuryadin, MTA</h3>
						<!-- <ul class="icon">
							<li><a href="#"><i class="fa fa-search"></i></a></li>
							<li><a href="#"><i class="fa fa-link"></i></a></li>
						</ul> -->
					</div>					
				</div>
				<div class="panel-img">
				
				</div>
				<div class="panel-nama font-24 lato-bold text-center" style="padding: 0px 0px 5px 0px;height: 54px;    width: 270px;">
					<span>Alwi Aulia Nuryadin, MTA</span>
				</div>
				<div class="line-tosca2 bg-new1" >
					
				</div>
				<div class="panel-jabatan text-center font-18 lato-semibold" style="padding: 6px 0px 0px 0px;">
					Programmer
				</div>			
			</div>
			<div style="display: flex;flex-direction: column;padding: 0px 88px 0px 88px;">
				<div class="box15">
					<div class="panel-img">
						<img style="width:265px;height: 250px;border-radius: 20px;" src="../../../public/assets/img/TeamIDS/azis.jpg">
					</div>				
					<div class="box-content">
						<h3 class="title">Muhamad Aziz, MTA</h3>
						<!-- <ul class="icon">
							<li><a href="#"><i class="fa fa-search"></i></a></li>
							<li><a href="#"><i class="fa fa-link"></i></a></li>
						</ul> -->
					</div>					
				</div>
				<div class="panel-img">
				
				</div>
				<div class="panel-nama font-24 lato-bold text-center" style="padding: 0px 0px 5px 0px;height: 54px;    width: 270px;">
					<span>Muhamad Aziz, MTA</span>
				</div>
				<div class="line-tosca2 bg-new1" >
					
				</div>
				<div class="panel-jabatan text-center font-18 lato-semibold" style="padding: 6px 0px 0px 0px;">
					Programmer
				</div>			
			</div>
			<div style="display: flex;flex-direction: column;">
				<div class="box15">
					<div class="panel-img">
						<img style="width:265px;height: 250px;border-radius: 20px;" src="../../../public/assets/img/TeamIDS/yusril.png">
					</div>				
					<div class="box-content">
						<h3 class="title">Muhamad Yusril Saputra, MTA</h3>
						<!-- <ul class="icon">
							<li><a href="#"><i class="fa fa-search"></i></a></li>
							<li><a href="#"><i class="fa fa-link"></i></a></li>
						</ul> -->
					</div>					
				</div>
				<div class="panel-img">
				
				</div>
				<div class="panel-nama font-24 lato-bold text-center" style="padding: 0px 0px 5px 0px;height: 54px;    width: 270px;">
					<span>Muhamad Yusril Saputra, MTA</span>
				</div>
				<div class="line-tosca2 bg-new1" >
					
				</div>
				<div class="panel-jabatan text-center font-18 lato-semibold" style="padding: 6px 0px 0px 0px;">
					Programmer
				</div>			
			</div>
		</div>
		<div style="display: flex;padding: 0px 0px 28px 0px;">
			<div style="display: flex;flex-direction: column;">
				<div class="box15">
					<div class="panel-img">
						<img style="width:265px;height: 250px;border-radius: 20px;" src="../../../public/assets/img/TeamIDS/mukhlis.png">
					</div>				
					<div class="box-content">
						<h3 class="title">Mukhlis Febriansyah, MTA</h3>
						<!-- <ul class="icon">
							<li><a href="#"><i class="fa fa-search"></i></a></li>
							<li><a href="#"><i class="fa fa-link"></i></a></li>
						</ul> -->
					</div>					
				</div>
				<div class="panel-img">
				
				</div>
				<div class="panel-nama font-24 lato-bold text-center" style="padding: 0px 0px 5px 0px;height: 54px;    width: 270px;">
					<span>Mukhlis Febriansyah, MTA</span>
				</div>
				<div class="line-tosca2 bg-new1" >
					
				</div>
				<div class="panel-jabatan text-center font-18 lato-semibold" style="padding: 6px 0px 0px 0px;">
					Programmer
				</div>			
			</div>
			<div style="display: flex;flex-direction: column;padding: 0px 88px 0px 88px;">
				<div class="box15">
					<div class="panel-img">
						<img style="width:265px;height: 250px;border-radius: 20px;" src="../../../public/assets/img/TeamIDS/zai2.jpg">
					</div>				
					<div class="box-content">
						<h3 class="title">Muhammad Zainur Rahman Juliansyah</h3>
						<!-- <ul class="icon">
							<li><a href="#"><i class="fa fa-search"></i></a></li>
							<li><a href="#"><i class="fa fa-link"></i></a></li>
						</ul> -->
					</div>					
				</div>
				<div class="panel-img">
				
				</div>
				<div class="panel-nama font-24 lato-bold text-center" style="padding: 0px 0px 5px 0px;height: 54px;    width: 270px;">
					<span>Muhammad Zainur Rahman Juliansyah</span>
				</div>
				<div class="line-tosca2 bg-new1" >
					
				</div>
				<div class="panel-jabatan text-center font-18 lato-semibold" style="padding: 6px 0px 0px 0px;">
					SysAdmin - DevOps
				</div>			
			</div>						
		</div>
	</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = '1000' + "px";
    } 
  });
}
</script>
</html>