<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../../../public/assets/css/newidscss.css">
	<title>Beranda</title>
</head>
<body>
	<div class="Header">
		<div class="Logo-IDS">
			<img style="height: 56px;width: 124px;" src="../../../public/assets/img/ids.png">
		</div>
		<div class="Item-header font-16">
			<a href="#">Beranda</a>
		</div>
		<div class="Item-header font-16">
			<a href="#">Tentang Kami</a>
		</div>
		<div class="Item-header font-16">
			<a href="#">Layanan dan Produk</a>
		</div>
		<div class="Item-header font-16">
			<a href="#">Blog</a>
		</div>
		<div class="Item-header font-16">
			<a href="#">Galeri</a>
		</div>
		<div class="Item-header font-16">
			<a href="#">Hubungi Kami</a>
		</div>
	</div>
	<!--  -->
	<div class="Benner">
		
	</div>
	<!--  -->
	<div class="Tentang-IDS">
		<div class="Tentang-Text">
			<div class="Tentang-head1 font-24 color-navy lato-regular">
				<span>TENTANG IDS</span>
			</div>
			<div class="Tentang-head2 font-56 color-navy lato-bold">
				<span>Mendidik <br>dengan <br>Hati dan Teknologi</span>	
			</div>
			<div class="Tentang-isi font-24 color-new lato-regular">
				<p>IDS Rumah Pendidikan Indonesia merupakan unit usaha yang bergerak di bidang pendidikan dan teknologi.</p>
			</div>
			<div class="Tentang-btn font-18 color-tosca lato-bold">
				PELAJARI LEBIH LANJUT ->
			</div>
		</div>
		<div class="Tentang-img" >
			<div class="Tentang-isi-img">
				
			</div>
		</div>
	</div>
	<!--  -->
	<div class="text-misi bg-toscalight">
		<div class="font-36 lato-regular">
			<span>Menjadikan sistem belajar mengajar serta pengelolaan sekolah di Indonesia lebih <span class="lato-bold">bermutu, efektif, dan efisien.</span></span>
		</div>
	</div>
	<!--  -->
	<div class="Layanandanproduk">
		<span class="font-24 lato-regular">LAYANAN DAN PRODUK KAMI</span>
		<div style="display: flex;    padding: 32px 0px 32px 0px;    padding: 32px 0px 32px 0px;    padding: 32px 0px 32px 0px;    padding: 32px 0px 32px 0px;    padding: 32px 0px 32px 0px;padding: 32px 0px 32px 0px;">
			<div class="card-LNP">
				<div class="card-img">					

				</div>
				<div class="card-item">
					<div class="card-text lato-regular">
						<span>Tim konsultan IDS terdiri dari orang-orang yang telah berpengalaman di dunia pendidikan Indonesia... 
						</span>
					</div>
					<div class="card-btn lato-bold">
						<a class="color-tosca" href="../IDSConsultant/idsconsultant.blade.html">SELANJUTNYA -></a>
					</div>
				</div>
			</div>
			<div class="card-LNP">
				<div class="card-img">
					
				</div>
				<div class="card-item">
					<div class="card-text lato-regular">
						<span>Untuk mempelajari bagaimana manajemen mutu sekolah diterapkan, IDS menyediakan fasilitas untuk terjun dan...
						</span>
					</div>
					<div class="card-btn color-tosca lato-bold">
						<a class="color-tosca" href="../Wisata Edukasi/wisataedukasi.blade.html">SELANJUTNYA -></a>
					</div>
				</div>
			</div>
			<div class="card-LNP">
				<div class="card-img">
					
				</div>
				<div class="card-item">
					<div class="card-text lato-regular">
						<span>Aplikasi pembelajaran dengan filosofi tuntas, terukur, dan terpantau
dengan melibatkan siswa, orangtua...
						</span>
					</div>
					<div class="card-btn color-tosca lato-bold">
						<a class="color-tosca" href="https://kejar.id">SELANJUTNYA -></a>	
					</div>
				</div>
			</div>
		</div>
		<div style="display: flex;padding: 32px 0px 32px 0px;">
			<div class="card-LNP">
				<div class="card-img">					

				</div>
				<div class="card-item">
					<div class="card-text lato-regular">
						<span>Pelantar self-publising dalam bentuk toko buku online. Rak buku pribadi, pengelolaan keuangan tanpa perantara...
						</span>
					</div>
					<div class="card-btn color-tosca lato-bold">
						<a class="color-tosca" href="../Penerbitan buku/penerbitanbuku.blade.html">SELANJUTNYA -></a>
					</div>
				</div>
			</div>
			<div class="card-LNP">
				<div class="card-img">
					
				</div>
				<div class="card-item">
					<div class="card-text lato-regular">
						<span>Abadikan momen-momen berharga Anda bersama IDS documentation. Adapun produk...	
						</span>
					</div>
					<div class="card-btn color-tosca lato-bold">
						<a class="color-tosca" href="../IDSDocumentation/idsdocumentation.blade.html">SELANJUTNYA -></a>
					</div>
				</div>
			</div>
			<div class="card-LNP">
				<div class="card-img">
					
				</div>
				<div class="card-item">
					<div class="card-text lato-regular">
						<span>......................................................................................................................................................................................................
						</span>
					</div>
					<div class="card-btn color-tosca lato-bold">
						<a class="color-tosca" href="../Website dan Aplikasi/websitedanaplikasi.blade.html">SELANJUTNYA -></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--  -->
	<div class="text-misi bg-toscalight">
		<div class="font-36 lato-regular">
			<span>Pendidikan Bermutu dan Berkarakter <br>Bersama <span class="lato-bold">IDS Rumah Pendidikan Indonesia</span></span>
		</div>
	</div>
	<!--  -->
		
	<div class="data-IDS" >		
		<div class="data-item" >
			<div class="data-isi" >
				<div class="data-jumlah font-48 color-tosca lato-bold text-center">
					<span>60.000</span>
				</div>
				<div class="data-text font-24 lato-bold text-center">
					<span>peserta kunjungan wisata edukasi</span>
				</div>
			</div>
			<div class="data-isi" >
				<div class="data-jumlah font-48 color-tosca lato-bold text-center">
					<span>800</span>
				</div>
				<div class="data-text font-24 lato-bold text-center">
					<span>sekolah bergabung dengan IDS </span>
				</div>
			</div>
			<div class="data-isi" >
				<div class="data-jumlah font-48 color-tosca lato-bold text-center">
					<span>2.151</span>
				</div>
				<div class="data-text font-24 lato-bold text-center">
					<span>pengguna Kejar.id</span>
				</div>
			</div>
			<div class="data-isi" >
				<div class="data-jumlah font-48 color-tosca lato-bold text-center">
					<span>2.814</span>
				</div>
				<div class="data-text font-24 lato-bold text-center">
					<span>peserta pelatihan IDS Consultant</span>
				</div>
			</div>
			
		</div>
	</div>
	<img style="padding: 24px 0px 0px 24px;" src="../../../public/assets/img/petaidn.png">
	<!--  -->
	<div class="qoute-IDS color-white">		
		<div style="display: flex;flex-direction: column;">
			<div class="qoute-text font-24 lato-regular">
				<span>“ Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.”</span>
			</div>
			<div class="line-tosca bg-tosca">
				
			</div>
			<div class="qoute-nama font-24 lato-bold">
				<span>Mukhlis Febriansyah</span>
			</div>
			<div class="qoute-jabatan font-24 lato-regular">
				<span>Senior Designer</span>
			</div>
		</div>
	</div>
	<!--  -->
	<div class="momenterbaik">
		<span class="font-24 lato-regular">MOMEN-MOMEN TERBAIK</span>
		<div class="momen-item">
			<div class="momenimg1">
				<div class="momenimg1-text">
					<span>Kejar.id berikan beasiswa kepada seluruh SMP se-Kota Bogor</span>
				</div>
			</div>
			<div class="momenimg2">
				<div style="display: flex;">
					<div style="padding: 0px 15px 0px 0px">
						<div class="momenimg2-item1">
							
						</div>
					</div>
					<div style="padding: 0px 15px 0px 0px">
						<div class="momenimg2-item2">
							
						</div>
					</div>
				</div>
				<div style="display: flex;">
					<div style="padding: 14px 15px 0px 0px">
						<div class="momenimg2-item3">
							
						</div>
					</div>
					<div style="padding: 14px 15px 0px 0px">
						<div class="momenimg2-item4">
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="momen-btn font-24 color-tosca lato-bold">
			<a class="color-tosca" href="../IDSGalery/idsgalery.blade.html">Lihat Galeri -></a>
		</div>
	</div>
	<!--  -->
	<div class="text-misi bg-toscalight">
		<div class="font-36 lato-regular">
			<span><span class="lato-bold">IDS Rumah Pendidikan Indonesia</span> telah bekerjasama dan dipercaya oleh berbagai mitra.</span>
		</div>
	</div>
	<!--  -->
	<div class="kerjasamaIDS">
		<div class="img1" >
			<img src="../../../public/assets/img/Wikrama.png">
		</div>			
		<div class="img2" >
			<img src="../../../public/assets/img/ITC-Logo-1.png">
		</div>
		<div class="img1" >
			<img src="../../../public/assets/img/YBMBRI.png">
		</div>
	</div>
	<!--  -->
	<div class="line-tosca2 bg-tosca" style="">
		
	</div>
	<!--  -->
	<div class="footerIDS" style="">
		<div class="footeritem" style="">
			<div class="footerlogo" style="">
				<img src="../../../public/assets/img/LOGO-IDS.png">	
			</div>
			<div class="footertext font-16" style="">
				<span>Selama lebih dari 20 tahun, para pendiri CV IDS —Itasia Dina Sulvianti dan RP Agus Lelana— melakukan riset pendidikan melalui SMK Wikrama Bogor serta Perguruan SMK Wikrama Indonesia. Ratusan sekolah di seluruh Indonesia telah bergabung untuk belajar bersama kami. IDS</span>
			</div>
			<div style="display: flex;justify-content: space-between;">
				<div class="kontakLND" style="display: flex;flex-direction: column;">
					<div class="item-kontak">
						<span class="lato-bold">Layanan dan Produk</span>
					</div>
					<div class="item-kontak">
						<span>IDS Consultant</span>
					</div>
					<div class="item-kontak">
						<span>Wisata Edukasi</span>
					</div>
					<div class="item-kontak">
						<span>Kejar.id</span>
					</div>
					<div class="item-kontak">
						<span>Penerbitan Buku</span>
					</div>
					<div class="item-kontak">
						<span>IDS Documentation</span>
					</div>
					<div class="item-kontak">
						<span>Website dan Aplikasi</span>
					</div>
				</div>
				<div class="kontakLND" style="display: flex;flex-direction: column;">
					<div class="item-kontak">
						<span class="lato-bold">Tentang kami</span>
					</div>
					<div class="item-kontak">
						<span>Visi dan Misi</span>
					</div>
					<div class="item-kontak">
						<span>Tim IDS</span>
					</div>
				</div>
			</div>
		</div>
		<div class="footermap" >
			<div class="mapsIDS">
				
			</div>			
			<div class="item-kontak alamatIDS">
				<span>Gedung SMK Wikrama Bogor — Lantai 2 Jalan Raya Wangun, Kel. Sindangsari, Kec. Bogor Timur, Kota Bogor</span>
			</div>
			<div class="item-kontak nomerTelpIDS">
				<span>0251 - 8249560</span>
			</div>			
			<div class="item-kontak gmailIDS">
				<span>produk.ids@gmail.com</span>
			</div>
		</div>
	</div>
	<!--  -->
	<div class="lastfooter bg-navy">
		<div class="lastfooter-item"> 
			<span>TEMUKAN KAMI!</span>
		</div>
	</div>
</body>
</html>