<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../../../public/assets/css/newidscss.css">
	<title>IDS CONSULTANT</title>
</head>
<body>
	<div class="Header">
		<div class="Logo-IDS">
			<img style="height: 56px;width: 124px;" src="../../../public/assets/img/ids.png">
		</div>
		<div class="Item-header font-16">
			<a href="#">Beranda</a>
		</div>
		<div class="Item-header font-16">
			<a href="#">Tentang Kami</a>
		</div>
		<div class="Item-header font-16">
			<a href="#">Layanan dan Produk</a>
		</div>
		<div class="Item-header font-16">
			<a href="#">Blog</a>
		</div>
		<div class="Item-header font-16">
			<a href="#">Galeri</a>
		</div>
		<div class="Item-header font-16">
			<a href="#">Hubungi Kami</a>
		</div>
	</div>
	<!--  -->
	<div class="Benner">
		<img style="width: 1358px;" src="../../../public/assets/img/BannerIDS/BannerKonsultan.jpg">
	</div>
	<!--  -->
	<div class="content1" style="">
		<div style="display: flex;padding: 0px 0px 50px 0px;">
			<div class="content1-text">
				<span>IDS Rumah Pendidikan Indonesia merupakan unit usaha yang bergerak di bidang pendidikan dan teknologi.
				Bermula tahun 2011, IDS Rumah Pendidikan Indonesia berdiri sebagai perusahaan penyedia teknologi dan konsultan pendidikan dengan tujuan menjadikan sistem belajar mengajar serta pengelolaan sekolah di Indonesia lebih bermutu, efektif, dan efisien.
				</span>
			</div>
			<div class="content1-img">
				
			</div>
		</div>
		<div style="display: flex;padding: 0px 0px 50px 0px;">
			<div style="display: flex;flex-direction: column;">
				<div class="content1-img" >
					
				</div>
				<div class="content1-img-text text-center" style="width: 390px;">
					<span>Kegiatan workshop dan pelatihan bersama IDS Rumah Pendidikan Indonesia</span>
				</div>
			</div>
			<div class="content1-text" style="width: 575px;height: 291px;padding:0px 0px 0px 44px;">
				<span>IDS Rumah Pendidikan Indonesia merupakan unit usaha yang bergerak di bidang pendidikan dan teknologi.
				Bermula tahun 2011, IDS Rumah Pendidikan Indonesia berdiri sebagai perusahaan penyedia teknologi dan konsultan pendidikan dengan tujuan menjadikan sistem belajar mengajar serta pengelolaan sekolah di Indonesia lebih bermutu, efektif, dan efisien.
				</span>
			</div>			
		</div>
	</div>
	<!--  -->	
	<div class=" bg-new1" style="display: flex;padding: 0px 180px 0px 180px;margin-bottom: 44px;">
		<div class="bg-new" style="width: 250px;height: 250px;">
			
		</div>
		<div class="font-36 lato-regular" style="padding: 0px 0px 0px 44px;">
			<span><span class="lato-bold">Visi Kami</span> <br>untuk menjadi start-up pendidikan yang unggul dan bermanfaat.</span>
		</div>
	</div>
	<div class=" bg-new1" style="display: flex;padding: 0px 180px 0px 180px;margin-bottom: 44px;">
		<div class="font-36 lato-regular" style="padding: 0px 0px 0px 44px;">
			<span><span class="lato-bold">Visi Kami</span> <br>untuk menjadi start-up pendidikan yang unggul dan bermanfaat.</span>
		</div>
		<div class="bg-new" style="width: 250px;height: 250px;">
			
		</div>
	</div>
	<div class=" bg-new1" style="display: flex;padding: 0px 180px 0px 180px; margin-bottom: 44px;">
		<div class="bg-new" style="width: 250px;height: 250px;">
			
		</div>
		<div class="font-36 lato-regular" style="padding: 0px 0px 0px 44px;">
			<span><span class="lato-bold">Visi Kami</span> <br>untuk menjadi start-up pendidikan yang unggul dan bermanfaat.</span>
		</div>
	</div>


</body>
</html>