<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="../../../public/assets/css/newidscss.css"
    />
    <title>IDS CONSULTANT</title>
  </head>

  <body>
    <div class="Header">
      <div class="Logo-IDS">
        <img
          style="height: 56px;width: 124px;"
          src="../../../public/assets/img/ids.png"
        />
      </div>
      <div class="Item-header font-16">
        <a href="#">Beranda</a>
      </div>
      <div class="Item-header font-16">
        <a href="#">Tentang Kami</a>
      </div>
      <div class="Item-header font-16">
        <a href="#">Layanan dan Produk</a>
      </div>
      <div class="Item-header font-16">
        <a href="#">Blog</a>
      </div>
      <div class="Item-header font-16">
        <a href="#">Galeri</a>
      </div>
      <div class="Item-header font-16">
        <a href="#">Hubungi Kami</a>
      </div>
    </div>
    <!--  -->
    <div class="Benner">
      <img
        style="width: 1358px;"
        src="../../../public/assets/img/BannerIDS/BannerKonsultan.jpg"
      />
    </div>
    <!--  -->
    <div class="content1" style="">
      <div style="display: flex;padding: 0px 0px 64px 0px;">
        <div class="content1-text">
          <span
            >Pendidikan merupakan rekonstruksi pengalaman yang terjadi secara
            terus-menerus, dan sekolah merupakan miniatur masyarakat yang
            sesungguhnya. Melihat dari kehidupan pribadi masyarakat dalam
            kehidupan sosial yang terus berubah, maka pendekatan pendidikan
            menjadi amat sangat penting. Dewasa ini Kementrian Pendidikan dan
            Kebudayaan RI memberikan pilihan kepada seluruh sekolah untuk
            menerapkan kualitas penyelenggaraan pendidikan sesuai dengan
            kapasitas sumberdaya sekolah. Contohnya dalam penyelenggaraan UN
            Online maupun penerapan kurikulum 2013.
          </span>
        </div>
        <div class="content1-img"></div>
      </div>
      <div style="display: flex;padding: 0px 0px 200px 0px;">
        <div style="display: flex;flex-direction: column;">
          <div class="content1-img"></div>
          <div class="content1-img-text text-center" style="width: 390px;">
            <span
              >Kegiatan workshop dan pelatihan bersama IDS Rumah Pendidikan
              Indonesia</span
            >
          </div>
        </div>
        <div
          class="content1-text"
          style="width: 575px;height: 291px;padding:0px 0px 0px 44px;"
        >
          <span
            >Mendukung pencapaian tujuan pendidikan dalam membentuk peserta
            didik yang dapat menginternalisasi nilai-nilai kebenaran hingga
            mencapai kehidupan yang lebih baik, cepat atau lambat setiap sekolah
            harus memiliki kesiapan sumberdaya yang dimilikinya untuk menghadapi
            tantangan globalisasi di bidang pendidikan. Salah satu aspek yang
            kritikal adalah kesiapan manajemen sekolah dan sumberdaya manusia
            untuk melakukan percepatan perubahan dalam mengejar ketertinggalan
            tersebut. Mengkolaborasikan teknologi dalam penerapan metode belajar
            menjadi tantangan bagi sebagian penyelenggara pendidikan karena
            masih ragu jika disandingkan dengan peranan pengajar yang perlu
            mengembangkan potensi diri dengan teknologi.
          </span>
        </div>
      </div>
    </div>
    <!--  -->
    <div style="height:208px;background: #3CB5B5;">
      <div style="height:128px;text-align: center;padding-top: 70px;">
        <h1>Mengenal Sosok Dibalik IDS Rumah Pendidikan Indonesia</h1>
      </div>
    </div>
    <!--  -->
    <div style="display: flex;background:#C4C4C4;">
      <div
        style="width: 543px;height: 648px;background: #FFFFFF;box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);border-radius: 20px;margin: 20px 24px 20px 128px;padding:60px 58px;"
      >
        <div style="display: flex;flex-direction: column;">
        	  <div style="width:250px;height:250px;">
            <img
              style="border-radius: 10px;"
              src="../../../public/assets/img/TeamIDS/Pak Agus.jpg"
              alt=""
            />
          </div>
          <div>
			<h2>Dr. drh. H. RP Agus Lelana, SpMP, M.Si.</h2>
			<hr>
          </div>
          
          <div>
            <p style="line-height: 25px;">
              1. Dosen Institut Pertanian Bogor <br />
              2. Postgraduate Course in Veterinary Leadership, The Univ. of 3
              Sydney, Australia. 2010-2013<br />
              3. Komisaris IDS Consultant, 2011-sekarang<br />
              4. Pembina Yayasan yang menaungi SMK Wikrama di Indonesia
            </p>
          </div>
        </div>
      </div>
      <div
        style="width: 543px;height: 648px;background: #FFFFFF;box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);border-radius: 20px;margin: 20px 128px 0px 0px;padding:60px 58px;"
      >
        <div style="display: flex;flex-direction: column;">
          <div style="width:250px;height:250px;">
            <img
              style="border-radius: 10px;"
              src="../../../public/assets/img/TeamIDS/Bu Ita.jpg"
              alt=""
            />
          </div>
          <div>
			<h2>Ir. Hj. Itasia Dina Sulvianti, MSi</h2>
			<hr>
          </div>          
          <div>
            <p style="line-height: 25px;">
					1.  Staf pengajar di Departemen Statistika FMIPA IPB Bogor
					2.  Mendirikan dan menjadi Kepala Sekolah SMK Wikrama   
						   Bogor  (1996-2013) <br>
					3.  Ketua Perguruan Wikrama Indonesia <br>
					4.  Komisaris IDS Consultant<br>
					5.  Senior Konsultan Pendidikan<br>
					6.  Narasumber pada berbagai kegiatan pelatihan, workshop,   
						  &  seminar					
            </p>
          </div>
        </div>
      </div>
    </div>
    <div style="display: flex;background:#C4C4C4;justify-content: center;padding: 20px 0px;">
      <div
        style="width: 1010px;;height: 310px;background: #FFFFFF;box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);border-radius: 20px;padding:30px 52px;"
      >
        <div style="display: flex;">
          <div style="width:250px;height:250px;">
            <img
              style="border-radius: 10px;"
              src="../../../public/assets/img/TeamIDS/Mam Mala.jpg"
              alt=""
            />
          </div>
          <div>
            <div style="display: flex;flex-direction: column">
              <div>
                <h2>Komalasari, S.Pd.</h2>
                <hr />
              </div>
              <div>
				<p style="line-height: 25px;">
					1. Wakil Kepala Sekolah Bid. Kurikulum <br />
					2. Pengajar Mata Pelajaran Bahasa Inggris di SMK Wikrama
					Bogor<br />
					3. Instruktur Kurikulum Indonesia<br />
				</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div style="padding: 0px 180px;font-size: 24px;text-align: justify">
      <div>
        <p>
          Inovasi pembelajaran perlu diterapkan dan dikembangkan sebagai salah
          satu implementasi peningkatan kinerja dan membangkitkan kepercayaan
          diri sebagai pengajar. IDS Rumah Pendidikan Indonesia memberikan
          kesempatan bagi instansi dan penyelenggara pendidikan untuk bersama
          menciptakan dan mengembangkan pendidikan dengan menyelenggarakan
          workshop dan pelatihan-pelatihan, didampingi oleh konsultan senior
          yang telah berpengalaman selama puluhan tahun dalam bidang pendidikan,
          yang sekaligus sebagai pendiri SMK Wikrama Indonesia dan CO Founder
          IDS Rumah Pendidikan Indonesia.
        </p>
      </div>
      <div>
        <p>
          Sudah lebih dari ratusan sekolah dan instansi pendidikan bergabung
          untuk belajar bersama kami. Yang diantaranya telah berhasil mengalami
          perubahan yang lebih baik, meraih banyak prestasi, hingga menjadi
          pelopor bagi sekolah-sekolah dan instansi-instansi pendidikan lain
          untuk turut serta menciptakan generasi pendidik yang berinsan karakter
          mulia, sehingga IDS Rumah Pendidikan Indonesia berkomitmen untuk terus
          mentransformasi dan melatih siswa-siswi menjadi pribadi yang jujur,
          percaya diri, dan gemilang.
        </p>
      </div>
    </div>
    <!--  -->
    <div
      style="display:flex;height:220px;background:#C4C4C4;padding: 20px 128px;"
    >
      <div style="padding-top: 96px;">
        <img src="../../../public/assets/img/LOGO IDS Hitam PNG.png" alt="" />
      </div>
      <div
        style="display: flex;flex-direction: column;padding: 28px 0px 0px 100px;width: 200px"
      >
        <div style="font-weight: 700">
          <span>Layanan dan Produk</span>
        </div>
        <div style="padding: 5px 0px;">
          <span>IDS Consultant</span>
        </div>
        <div>
          <span>Wisata Edukasi</span>
        </div>
        <div style="padding: 5px 0px;">
          <span>Kejar.id</span>
        </div>
        <div>
          <span>Penerbitan Buku</span>
        </div>
        <div style="padding: 5px 0px;">
          <span>IDS Documentation</span>
        </div>
      </div>
      <div
        style="display: flex;flex-direction: column;padding: 28px 0px 0px 80px;width: 200px"
      >
        <div style="font-weight: 700">
          <span>Tentang kami</span>
        </div>
        <div style="padding: 5px 0px;">
          <span>Visi dan Misi</span>
        </div>
        <div>
          <span>Tim IDS</span>
        </div>
      </div>
      <div style="diplay:flex;flex-direction:column;">
        <div style="display: flex;align-items: center;">
          <div>
            <h2>Mitra :</h2>
          </div>
          <div style="padding: 0px 20px;">
            <img
              style="width:35px;height:35px;"
              src="../../../public/assets/img/Wikrama.png"
              alt=""
            />
          </div>
          <div>
            <img
              style="width:70px;height:35px;"
              src="../../../public/assets/img/ITC-Logo-1.png"
              alt=""
            />
          </div>
          <div style="padding: 0px 20px;">
            <img
              style="width:35px;height:35px;"
              src="../../../public/assets/img/YBMBRI.png"
              alt=""
            />
          </div>
        </div>
        <div style="display: flex;flex-direction: column;padding: 32px 0px;">
          <div
            style="font-size: 14px;
		  line-height: 17px;
		  font-weight: 700;"
          >
            <span
              >Gedung SMK Wikrama Bogor — Lantai 2 <br />
              Jalan Raya Wangun, Kel. Sindangsari, Kec. Bogor Timur, Kota
              Bogor</span
            >
          </div>
          <div style="display: flex;padding: 12px 0px;">
            <div style="padding: 0px 20px 0px 0px;">
              <img
                style="width:22px;height:22px	;"
                src="../../../public/assets/img/Vector3.png"
                alt=""
              />
            </div>
            <div>
              <span>0251 - 8249560</span>
            </div>
          </div>
          <div style="display: flex;">
            <div style="padding: 0px 20px 0px 0px;">
              <img
                style="width:22px;height:22px	;"
                src="../../../public/assets/img/Group2.png"
                alt=""
              />
            </div>
            <div>
              <span>produk.ids@gmail.com</span>
            </div>
          </div>
        </div>
      </div>
	</div>
	<div style="display: flex;height:82px;background:#33495D;justify-content: flex-end;align-items: center;">
		<div style="color: #FFFFFF;font-weight: 800;">
			TEMUKAN KAMI!
		</div>
		<div style="padding: 0px 0px 0px 44px;">
			<img
				style="width: 40px;height: 40px;"
				src="../../../public/assets/img/Group.png"
				alt=""
			/>
		</div>
		<div style="padding: 0px 43px 0px 43px;">
			<img
				style="width: 20px;height: 40px;"
				src="../../../public/assets/img/Vector.png"
				alt=""
			/>
		</div>
		<div style="padding: 0px 128px 0px 0px;">
			<img
				style="width: 52px;height: 40px;"
				src="../../../public/assets/img/Group (1).png"
				alt=""
			/>
		</div>			  
	</div>
  </body>
</html>
